#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# gradlew.bat should also use lf
/gradlew.bat    text eol=lf

# Other Windows script files can use crlf
*.bat           text eol=crlf
